<div style="text-align:center">
  <div>
    <h1>
      {{title}}
    </h1>
    <label> Choissisez votre Pokemon
      <input type="text" [(ngModel)]="searchedString" placeholder="filtrer la liste"/>
    </label>
    <select ng-init="default = options[0]" [(ngModel)]="pokemonChoice" (change)="sendChoiceToComponent2()">
      <option *ngFor="let pokemon of pokemons | filterPokemonPipe: searchedString">
        {{pokemon.name}}
      </option>
    </select>
    <label> Votre choix
      <input type="text" readOnly value={{pokemonChoice}} />
    </label>
  </div>
  <div style="text-align: center">
    <button (click)="go()">Logger choix </button>
  </div>
</div>
