<div style="text-align:center">
  <h1>
    {{ title }} !
  </h1>
  <p>Id clone : {{id}}</p>
  <div>
    <label> Saisissez un id
      <input type="text" [(ngModel)]="id" />
    </label>
    <label> Clone
      <input type="text" readOnly value={{id}} />
    </label>
  </div>
  <div>
    <label> Filtrer les Pokemons
      <input type="text" [(ngModel)]="searchedString"/>
    </label>
    <label> Choissisez votre Pokemon
      <select [(ngModel)]="pokemonChoice">
        <option *ngFor="let pokemon of pokemons | filterPokemonPipe: searchedString">
          {{pokemon.name}}
        </option>
      </select>
    </label>
    <label> Vous avez sélectionné
      <input type="text" readOnly value={{pokemonChoice}} />
    </label>
  </div>
  <div style="text-align: center">
    <button (click)="go()">Go !</button>
  </div>
</div>
